---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign has_posts = false %}
    {% for post in site.publications %}
      {% if post.category == category[0] %}{% assign has_posts = true %}{% endif %}
    {% endfor %}
    {% if has_posts %}
      <h2>{{ category[1].title }}</h2>
      {% for post in site.publications reversed %}
        {% if post.category != category[0] %}{% continue %}{% endif %}
        <p>
          {{ post.authors }} ({{ post.date | date: "%Y" }}).
          {% if post.paperurl %}
            <a href="{{ post.paperurl }}">{{ post.title }}</a>
          {% else %}
            {{ post.title }}
          {% endif %}
          <em>({{ post.venue }})</em>
        </p>
      {% endfor %}
    {% endif %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    <p>
      {{ post.authors }} ({{ post.date | date: "%Y" }}).
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}">{{ post.title }}</a>
      {% else %}
        {{ post.title }}
      {% endif %}
      <em>({{ post.venue }})</em>
    </p>
  {% endfor %}
{% endif %}
